In [1]:
#import dependencies
import pandas as pd
import pymongo
import json

In [2]:
# Read Thanksgivng poll data
csv_file = "Resources/thanksgiving-2015-poll-data.csv"
Thanksgiving_data_df = pd.read_csv(csv_file)
Thanksgiving_data_df.head()

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific

In [3]:
# Rename columns to shorten the name on dish name to be used
renamed_df = Thanksgiving_data_df.rename(columns={'What is typically the main dish at your Thanksgiving dinner?':'Main Dish',
                                  'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts':'Brussel sprouts',
                                  'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Carrots':'Carrots',
                                  'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cauliflower':'Cauliflower',
                                  'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Corn':'Corn',
                                  'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cornbread':'Cornbread',
                                  'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Green beans/green bean casserole':'Green beans',
                                  'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Macaroni and cheese':'Macaroni and cheese',
                                  'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Mashed potatoes':'Mashed potatoes',
                                  'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple':'Apple',
                                  'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Cherry':'Cherry',
                                  'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Chocolate':'Chocolate',
                                  'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Coconut cream':'Coconut cream',
                                  'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Key lime':'Key lime',
                                  'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Peach':'Peach',
                                  'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan':'Pecan',
                                  'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin':'Pumpkin',
                                  'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Sweet Potato':'Sweet Potato',
                                  'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Apple cobbler':'Apple Cobbler',
                                  'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Blondies':'Blondies',
                                  'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Brownies':'Brownies',
                                  'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Carrot cake':'Carrot cake',
                                  'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cheesecake':'Cheesecake',
                                  'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cookies':'Cookies',
                                  'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Fudge':'Fudge',
                                  'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Ice cream':'Ice cream',
                                  'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Peach cobbler':'Peach cobbler'})
renamed_df.head()

,RespondentID,Do you celebrate Thanksgiving?,Main Dish,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific

In [4]:
# Select only the columns to be used
Thanksgiving_df = renamed_df[['Main Dish','Brussel sprouts','Carrots','Cauliflower','Corn','Cornbread','Green beans','Macaroni and cheese','Mashed potatoes',
                              'Apple','Cherry','Chocolate','Coconut cream','Key lime','Peach','Pecan','Pumpkin','Sweet Potato',
                              'Apple Cobbler','Blondies','Brownies','Carrot cake','Cheesecake','Cookies','Fudge','Ice cream','Peach cobbler']]
Thanksgiving_df.head()

,Main Dish,Brussel sprouts,Carrots,Cauliflower,Corn,Cornbread,Green beans,Macaroni and cheese,Mashed potatoes,Apple,...,Sweet Potato,Apple Cobbler,Blondies,Brownies,Carrot cake,Cheesecake,Cookies,Fudge,Ice cream,Peach cobbler
0,Turkey,NaN,Carrots,NaN,NaN,NaN,Green beans/green bean casserole,Macaroni and cheese,Mashed potatoes,Apple,...,NaN,NaN,NaN,NaN,NaN,Cheesecake,Cookies,NaN,Ice cream,NaN
1,Turkey,NaN,NaN,NaN,Corn,NaN,Green beans/green bean casserole,Macaroni and cheese,Mashed potatoes,Apple,...,NaN,NaN,NaN,NaN,NaN,Cheesecake,Cookies,NaN,NaN,NaN
2,Turkey,Brussel sprouts,Carrots,Cauliflower,Corn,Cornbread,NaN,NaN,Mashed potatoes,Apple,...,Sweet Potato,NaN,NaN,Brownies,Carrot cake,NaN,Cookies,Fudge,Ice cream,NaN
3,Turkey,Brussel sprouts,NaN,NaN,NaN,Cornbread,NaN,NaN,Mashed potatoes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tofurkey,Brussel sprouts,NaN,NaN,NaN,Cornbread,NaN,NaN,Mashed potatoes,Apple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# List of Main Dish 
maindish_df = Thanksgiving_df[['Main Dish']].copy()
dropped_maindish_df = maindish_df.drop_duplicates()
maindish_list = dropped_maindish_df['Main Dish'].tolist()
maindish_list

['Turkey',
 'Tofurkey',
 'Other (please specify)',
 nan,
 'Ham/Pork',
 'Turducken',
 'Roast beef',
 'Chicken',
 "I don't know"]

In [6]:
# group by, count, rename, dropping the "Other" and "I don't know" rows to get count for each Main Dish:
maindish_group = maindish_df.groupby(['Main Dish'], sort=False)
maindish_count = maindish_group['Main Dish'].count()
maindish_count = pd.DataFrame(maindish_count)
maindish_rename = maindish_count.rename(columns={'Main Dish':'Count'})
drop1 = maindish_rename.drop(index="Other (please specify)")
maindish_count_df = drop1.drop(index="I don't know")
maindish_count_df

            Count
Main Dish
Turkey        859
Tofurkey       20
Ham/Pork       29
Turducken       3
Roast beef     11
Chicken        12

In [7]:
#create a list of the main dishes using the index from the dataframe:
main_list = maindish_count_df.index.tolist()
print(main_list)

['Turkey', 'Tofurkey', 'Ham/Pork', 'Turducken', 'Roast beef', 'Chicken']

In [8]:
#create a dictionary to be loaded into a database with "Main" as the key and the above list as the values:
main_dict = {'Main': main_list}
print(main_dict)

{'Main': ['Turkey', 'Tofurkey', 'Ham/Pork', 'Turducken', 'Roast beef', 'Chicken']}

In [9]:
# Select Side Dishes
sides_df = Thanksgiving_df[['Brussel sprouts','Carrots','Cauliflower','Corn','Cornbread',
                            'Green beans','Macaroni and cheese','Mashed potatoes']]
sides_df.head()

,Brussel sprouts,Carrots,Cauliflower,Corn,Cornbread,Green beans,Macaroni and cheese,Mashed potatoes
0,NaN,Carrots,NaN,NaN,NaN,Green beans/green bean casserole,Macaroni and cheese,Mashed potatoes
1,NaN,NaN,NaN,Corn,NaN,Green beans/green bean casserole,Macaroni and cheese,Mashed potatoes
2,Brussel sprouts,Carrots,Cauliflower,Corn,Cornbread,NaN,NaN,Mashed potatoes
3,Brussel sprouts,NaN,NaN,NaN,Cornbread,NaN,NaN,Mashed potatoes
4,Brussel sprouts,NaN,NaN,NaN,Cornbread,NaN,NaN,Mashed potatoes

In [10]:
# transpose and index to get list of Side Dishes
tsides_df = sides_df.T

tsides_df.index

tsides_df.head()

,0,1,2,3,4,5,6,7,8,9,...,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057
Brussel sprouts,NaN,NaN,Brussel sprouts,Brussel sprouts,Brussel sprouts,Brussel sprouts,NaN,NaN,Brussel sprouts,Brussel sprouts,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Carrots,Carrots,NaN,Carrots,NaN,NaN,Carrots,NaN,Carrots,NaN,Carrots,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cauliflower,NaN,NaN,Cauliflower,NaN,NaN,Cauliflower,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Corn,NaN,Corn,Corn,NaN,NaN,Corn,NaN,NaN,Corn,NaN,...,Corn,NaN,Corn,Corn,NaN,NaN,Corn,NaN,NaN,Corn
Cornbread,NaN,NaN,Cornbread,Cornbread,Cornbread,Cornbread,NaN,NaN,Cornbread,NaN,...,NaN,Cornbread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#create a list of the side dishes using the index from the dataframe:
side_list = tsides_df.index.tolist()

#create a dictionary to be loaded into a database with "Side" as the key and the above list as the values:
side_dict = {'Side':side_list}
print(side_dict)

{'Side': ['Brussel sprouts', 'Carrots', 'Cauliflower', 'Corn', 'Cornbread', 'Green beans', 'Macaroni and cheese', 'Mashed potatoes']}

In [12]:
# Select desserts
dessert_df = Thanksgiving_df[['Apple Cobbler','Blondies','Brownies','Carrot cake','Cheesecake',
                              'Cookies','Fudge','Ice cream','Peach cobbler']]
dessert_df.head()

,Apple Cobbler,Blondies,Brownies,Carrot cake,Cheesecake,Cookies,Fudge,Ice cream,Peach cobbler
0,NaN,NaN,NaN,NaN,Cheesecake,Cookies,NaN,Ice cream,NaN
1,NaN,NaN,NaN,NaN,Cheesecake,Cookies,NaN,NaN,NaN
2,NaN,NaN,Brownies,Carrot cake,NaN,Cookies,Fudge,Ice cream,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# transpose and index to get list of desserts
tdessert_df = dessert_df.T

#create a list of the dessert dishes using the index from the dataframe:
dessert_list = tdessert_df.index.tolist()

#create a dictionary to be loaded into a database with "Dessert" as the key and the above list as the values:
dessert_dict = {'Dessert': dessert_list}
#tdessert_df

print(dessert_dict)

{'Dessert': ['Apple Cobbler', 'Blondies', 'Brownies', 'Carrot cake', 'Cheesecake', 'Cookies', 'Fudge', 'Ice cream', 'Peach cobbler']}

In [14]:
# group by and count for any single side dish, pie, or dessert
dessert_group = dessert_df.groupby(, axis=0, sort=False)
dessert_count = dessert_group['Apple Cobbler'].count()
dessert_count

SyntaxError: invalid syntax (<ipython-input-14-1d39a19d42e2>, line 2)

In [15]:
#read in json file, adding in the "lines=True" condition as each item in the file is a separate dictionary
json_file = "Resources/recipes.json"
recipe_data_df = pd.read_json(json_file, lines=True)
recipe_data_df.head()

,Name,url,Description,Author,Ingredients,Method
0,Christmas pie,https://www.bbcgoodfood.com/recipes/2793/chris...,Combine a few key Christmas flavours here to m...,Mary Cadogan,"[2 tbsp olive oil, knob butter, 1 onion, finel...",[Heat oven to 190C/fan 170C/gas 5. Heat 1 tbsp...
1,Simmer-&-stir Christmas cake,https://www.bbcgoodfood.com/recipes/1160/simme...,An easy-to-make alternative to traditional Chr...,Mary Cadogan,"[175g butter, chopped, 200g dark muscovado sug...","[Put the butter, sugar, fruit, zests, juice an..."
2,Christmas cupcakes,https://www.bbcgoodfood.com/recipes/72622/chri...,These beautiful and classy little cakes make l...,Sara Buenfeld,"[200g dark muscovado sugar, 175g butter, chopp...","[Tip the sugar, butter, dried fruit, whole che..."
3,Christmas buns,https://www.bbcgoodfood.com/recipes/1803633/ch...,Paul Hollywood's fruit rolls can be made ahead...,Paul Hollywood,"[500g strong white flour, plus extra for dusti...",[Put the flour and 1 tsp salt into a large bow...
4,Christmas cupcakes,https://www.bbcgoodfood.com/recipes/981634/chr...,"Made these for the second time today, and I ha...",Barney Desmazery,"[280g self-raising flour, 175g golden caster s...",[Heat oven to 190C/170 fan/gas 5 and line a 12...

In [16]:
#create a new dataframe with only the Name, url, and Ingredients columns:
filtered_recipe_df = recipe_data_df[['Name','url','Ingredients']]
filtered_recipe_df

,Name,url,Ingredients
0,Christmas pie,https://www.bbcgoodfood.com/recipes/2793/chris...,"[2 tbsp olive oil, knob butter, 1 onion, finel..."
1,Simmer-&-stir Christmas cake,https://www.bbcgoodfood.com/recipes/1160/simme...,"[175g butter, chopped, 200g dark muscovado sug..."
2,Christmas cupcakes,https://www.bbcgoodfood.com/recipes/72622/chri...,"[200g dark muscovado sugar, 175g butter, chopp..."
3,Christmas buns,https://www.bbcgoodfood.com/recipes/1803633/ch...,"[500g strong white flour, plus extra for dusti..."
4,Christmas cupcakes,https://www.bbcgoodfood.com/recipes/981634/chr...,"[280g self-raising flour, 175g golden caster s..."
...,...,...,...
1612,Flavoured butters,https://www.bbcgoodfood.com/recipes/1911/flavo...,"[100g softened butter, 2-3 tbsp chopped fresh ..."
1613,Crispy Roast Duck,https://www.bbcgoodfood.com/recipes/3248/crisp...,"[3 medium-sized duckss (each about 2¼kg/5lb), ..."
1614,Smoked salmon kedgeree,https://www.bbcgoodfood.com/recipes/3047/smoke...,"[300g basmati rice, 8 eggs, 400g pack sliced s..."
1615,Spicy potted crab,https://www.bbcgoodfood.com/recipes/1797/spicy...,"[6 x 250g pkts unsalted butter, 2 tsp hot chil..."
1616,Sage and Onion Sauce,https://www.bbcgoodfood.com/recipes/3250/sage-...,"[all the innards, wings and bones from the duc..."

In [17]:
#establish connection to MongoDB via pymongo:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [18]:
#create the recipes_db database:
db = client.recipes_db

#create the collections within the recipes_db database:
recipe = db.recipe
main = db.main
side = db.side
dessert = db.dessert

In [19]:
#drop the collection to clear out any data that may have been from a previous connection:
db.recipe.drop()

#convert the dataframe containing recipe names, urls, and ingredients into a JSON file and store it into a records variable:
records = json.loads(filtered_recipe_df.T.to_json()).values()

#insert the JSON into the recipe collection:
db.recipe.insert_many(records)

In [20]:
#drop the collection to clear out any data that may have been from a previous connection:
db.main.drop()

#insert the dictionary of main dish items into the main collection:
db.main.insert_one(main_dict)

In [21]:
#drop the collection to clear out any data that may have been from a previous connection:
db.side.drop()

#insert the dictionary of side dish items into the side collection:
db.side.insert_one(side_dict)

In [22]:
#drop the collection to clear out any data that may have been from a previous connection:
db.dessert.drop()

#insert the dictionary of dessert items into the dessert collection:
db.dessert.insert_one(dessert_dict)